*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
}

.header {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgrey;
    color: black;
    border: solid blue 2px;
}

.header nav {
    padding-top: 15px;
    margin-top: 30px;
    margin-right: 20px;
    float: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.header nav ul li {
    list-style-type:none;
    display: inline-block;
    margin-left: 25px;
}

.header a {
    color: darkslategrey;
    text-decoration: none;
}
.header a:hover {
    background-color:#eb2523;
    color:white;
    text-decoration: none;
    
}

.about{
    background-color: whitesmoke;
    border: solid 2px black;
    display: flex;
    margin-top: 100px;

}

.about p{
   
    font-family: 'Courier New', Courier, monospace;
    border: solid 2px black;
   
   
}
.about img {
    width: 300px;
}

.my-work{
    

}

.my-work img{
    width: 300px;
    margin-top: 100px;
}

.contact-me nav {
    font-family: 'Courier New', Courier;
    font-size: 15px;
    border: solid white 3px;
}

.contact-me nav ul {
    list-style-type: none;
    margin-right: 500px;
}

.contact-me nav ul li {
    float: right;
    display: inline-flex;
    margin: auto;
   
  
}
.contact-me nav ul li img {
    width: 25px;
}
.footer{

}


